*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(49, 48, 48);
    position: relative;
}
header{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    line-height: 50%;

    .logo{
        a{
            color: inherit;
            font-size:1.8em;
            font-weight: bold;
            text-decoration: none;

            span{
              color: rgb(224, 103, 103);
            }
        }
    }
    ul{
        list-style: none;
        
        li.line{
            width: 40px;
            height: 4px;
            background: white;
            margin-bottom: 5px;
            cursor: pointer;
        }
    }
}
.container{
    max-width: 1400px;
    overflow-x:hidden ;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;

    img{
        width:clac(100% / 5);
        height: 400px;
        cursor: pointer;
    }
}
.box{
    position: fixed;
    width: 500Px;
    height: 500px;
    padding: 10px;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
    img{
        width: 100%;
        animation: load 1s linear forwards;
    }
    @keyframes load {
        0%{
            transform: scale(1.2);
        }
        100%{
            transform: scale(1);
        }
        
    }
}