* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #313030;
  position: relative;
}

header {
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  line-height: 50%;
}

header .logo a {
  color: inherit;
  font-size: 1.8em;
  font-weight: bold;
  text-decoration: none;
}

header .logo a span {
  color: #e06767;
}

header ul {
  list-style: none;
}

header ul li.line {
  width: 40px;
  height: 4px;
  background: white;
  margin-bottom: 5px;
  cursor: pointer;
}

.container {
  max-width: 1400px;
  overflow-x: hidden;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  padding: 20px;
}

.container img {
  width: clac(100%/5);
  height: 400px;
  cursor: pointer;
}

.container img:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.container img:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.container img:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.container img:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}

.center, .content {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
}

.content.fade {
  opacity: 0;
}

.box {
  position: fixed;
  width: 500Px;
  height: 500px;
  padding: 10px;
  background-color: white;
}

.box img {
  width: 100%;
  height: 100%;
  -webkit-animation: load 1s linear forwards;
          animation: load 1s linear forwards;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes load {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=app.css.map */